/* BASE */
:root {
  /* colors */
  --color-background: #000000;
  --color-text: #FFFFFF;
  --color-text-subtle: rgb(126, 126, 126);
  --color-text-subtle-transparent: rgba(126, 126, 126, 0.5);
  --color-button: rgb(52, 52, 52);
  --color-button-transparent: rgba(52, 52, 52, 0.7);


  /* sizes */
  --size-line-height: 1.09rem;
  --size-2-line-heights: calc(var(--size-line-height) * 2);
  --size-page-padding: 20px; 
  --size-buttons-gap: 10px;
}

/* fonts */
@font-face {
  font-family: HelveticaNowText;
  src: url(fonts/HelveticaNowText-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNowText;
  src: url(fonts/HelveticaNowText-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNowText;
  src: url(fonts/HelveticaNowText-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

html {
  background: var(--color-background, #000);
  padding: 20px;
  font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: var(--size-line-height);
  text-transform: lowercase;
}

body {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: var(--size-line-height, 1.09rem);
  max-width: 2600px;
  margin: auto;
}

header {
  position: fixed;
  z-index: 1;
}



main {
  padding-top: 91.25px;
}

/* TYPOGRAPHY */
h1 {
  font-weight: bold;
  font-size: 1rem;
  line-height: var(--size-line-height);
  letter-spacing: -0.5px;
  margin: 0;
}

h2 {
  color: var(--color-text-subtle);
  font-weight: bold;
  font-size: 0.72rem;
  line-height: var(--size-line-height);
  letter-spacing: 0px;
  margin: 0;
}

p {
  max-width: 450px;
  line-height: var(--size-line-height);
  margin: 0;
  letter-spacing: -0.5px;
}

.p2 {
  font-size: 18px;
  letter-spacing: -0.36px;
}

a {
  text-decoration-line: underline;
  color: var(--color-text);
  margin: 0;
}
a::after {
  content: " ↗";
  font-weight: 300;
}
a:hover {
  text-decoration-line: none;
  color: var(--color-text);
}
a:visited {
  color: var(--color-text);
}


/* LAYOUT ELEMENTS */
nav {
  display: flex;
  align-items: flex-start;
  gap: var(--size-buttons-gap);
}

button {
  background: var(--color-button, #343434);
  color: var(--color-text);
  display: flex;
  padding: 7px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  gap: var(--size-buttons-gap, 10px);

  border: none;
  line-height: var(--size-line-height);
}
button:hover {
  cursor: pointer;
}
button.clicked {
  background: var(--color-text, #FFF);
  color: var(--color-background, black);
}

header button {
  width: 150px;
  padding: 0px 0px 3px 0px;
  background: none;

  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
header button.hover {
  background: var(--color-button-transparent, rgba(52, 52, 52, 0.50));
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  color: var(--color-text, #FFF);
}
header button.clicked {
  background: var(--color-text-subtle-transparent, rgba(126, 126, 126, 0.30));
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  color: var(--color-text, #FFF);
}

.toggle-switch {
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 5px;
  background: var(--color-button-transparent, rgba(52, 52, 52, 0.50));
  backdrop-filter: blur(700px);
  -webkit-backdrop-filter: blur(700px);
}

.section-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-2lines, 54.5px);
}

.tag-chooser {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px var(--size-buttons-gap, 10px);
  align-self: stretch;
  flex-wrap: wrap;
}
.tag.clicked .tag-circle {
  background: var(--color-text);
  outline: none;
}
.tag:hover .tag-circle {
  outline-color: var(--color-text);
  outline-width: 1px;
  outline-style: dashed;
  outline-offset: -1px;
}

.tag-circle {
  height: 1.08rem;
  width: 1.08rem;
  background: var(--color-background);
  border-radius: 50%;
}
.tag-circle.clicked {
  background: var(--color-text);
  outline: none;
}

/* GRID STYLES */
.grid-projects-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  gap: var(--size-2lines, 54.5px) var(--size-page-padding, 20px);

  align-items: baseline;
}

.grid-projects-item {
  width: calc((100vw - 40px - (20px * 5)) / 6);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-line-height);
  height: auto;
  cursor: pointer;
}
.grid-projects-item.hidden {
  display: none;
  
}
.grid-projects-item p {
  opacity: 0;
  position: absolute;
  top: 49px;
}
.grid-projects-item:hover p {
  opacity: 1;
}
.grid-projects-item:hover img {
  opacity: 0;
}



@media only screen and (max-width: 1600px) {
  .grid-projects-item {
    width: calc((100vw - 40px - (20px * 3)) / 4);
  }
}
@media only screen and (max-width: 1024px) {
  .grid-projects-item {
    width: calc((100vw - 40px - (20px * 2)) / 3);
  }
}
@media only screen and (max-width: 768px) {
  .grid-projects-item {
    width: calc((100vw - 40px - 20px) / 2);
  }
}
@media only screen and (max-width: 425px) {
  .grid-projects-item {
    width: calc(100vw - 40px);
  }
}